html, body, #app {
  width: 480px;
  height: 500px;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0; }

#chat, #sendarea, header {
  width: 100%; }

#chat {
  height: 65%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: auto; }

header {
  height: 15%;
  width: 100%;
  background: #333; }
  header div {
    display: inline-block;
    color: white; }
  header #user-icon {
    margin-top: 7px;
    margin-left: 10px; }
  header #logout-icon {
    margin-top: 7px;
    margin-right: 10px; }
  header #username-el {
    margin-top: -10px;
    margin-left: 30px;
    font-size: 28px; }
  header #balance-el {
    background: #5a92e7;
    margin-top: -10px;
    font-size: 20px;
    margin-right: 30px;
    float: right;
    padding: 5px;
    border-radius: 3px; }
  header #logout-icon {
    float: right; }

.bot-msg {
  float: right;
  padding: 10px;
  width: 80%;
  list-style: none;
  background: #5a92e7;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 18px; }

.my-msg {
  padding: 10px;
  float: left;
  width: 80%;
  list-style: none;
  background: #94b7eb;
  color: #333;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 18px; }

#sendarea {
  height: 20%;
  background: #5a92e7;
  display: block; }
  #sendarea #inp-msg {
    width: 60%;
    display: inline-block;
    float: left;
    height: 40%;
    background: none;
    border: none;
    border-bottom: 2px solid #fff;
    color: white;
    padding: 5%;
    margin-left: 8%; }
  #sendarea button {
    width: 20%;
    float: left;
    display: inline-block;
    height: 100%;
    padding: 0;
    margin: 0;
    background: none;
    border: none; }

.no-bg {
  background: none; }

.no-border {
  border: none; }

.bg-pr {
  background: #5a92e7; }

.bg-sec {
  background: #333333; }

#loginPanel {
  color: #fff;
  padding-top: 150px;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #5a92e7;
  z-index: 99;
  top: 0;
  left: 0;
  text-align: center; }
  #loginPanel #inp-username {
    border-bottom: 2px solid white;
    width: 60%;
    margin-left: 5%;
    text-align: center;
    font-size: 22px;
    padding: 4px;
    color: white; }
  #loginPanel p {
    font-size: 16px;
    color: white; }

/*# sourceMappingURL=style.css.map */
